@model WebEcommerceClothing.Models.CategoryModel
@{
    Layout = "~/Views/Shared/_LayoutCRUD.cshtml";
    ViewData["Title"] = "DeleteCategory";
}

<div class="m-4 p-5 my-custom-class">
    <div class="custom-out-form">
        <h1 class="text-center text-light">Delete Category</h1>
        <div class="custom-form-container">
            <table class="table">
                <thead>
                    <tr class="text-info">
                        <td>Category ID</td>
                        <td>Category Name:</td>
                        <td>Category Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-info">
                        <td>@Model.CategoryID</td>
                        <td>@Model.CategoryName</td>
                        <td>@Model.CategoryDescription</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-evenly">
                <form asp-action="Delete" asp-route-id="@Model.CategoryID" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a class="btn btn-success" asp-action="Index">Back to List</a>
            </div>

        </div>
        
    </div>    
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
